<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="shortcut icon" href="../RecursosAmazingEvents/logo-icon.png" type="image/x-icon">
    <title>Amazing Events | Stats</title>
</head>
<body>
    <div id="app">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content bg-light nav-modal-index">
                  <div class="modal-header">
                  <button button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="nav-modal-index modal-body d-flex flex-column justify-content-evenly">
                      <a class="text-center text-light bg-danger py-1 nav-link links" href="./index.html">HOME</a>
                      <a class="text-center text-light bg-danger py-1 nav-link links" href="./upComingEvents.html">UPCOMING EVENTS</a>
                      <a class="text-center text-light bg-danger py-1 nav-link links" href="./pastEvents.html">PAST EVENTS</a>
                      <a class="text-center text-light bg-danger py-1 nav-link links" href="./contact.html">CONTACT</a>
                      <a class="text-center text-light bg-danger py-1 nav-link links" href="./stats.html">STATS</a>
                  </div>
              </div>
          </div>
      </div>
      
      <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
              <div class="col-4 col-lg-2 p-0 contenedor-logo">
                  <a href="./index.html"><img class="col-12 col-md-12 logo p-2" src="../RecursosAmazingEvents/Logo-Amazing-Events.png" alt=""></a>
              </div>
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-label="Close">
              <span><i class="fa-solid fa-bars boton-menu"></i></span>
            </button>
            <div class="collapse navbar-collapse mt-3 mt-lg-0 justify-content-lg-end contenedor-a">
                  <a class="text-center py-2 me-lg-4 nav-link links" href="./index.html">Home</a>
                  <a class="text-center py-2 me-lg-4 nav-link links" href="./upComingEvents.html">Upcoming Events</a>
                  <a class="text-center py-2 me-lg-4 nav-link links" href="./pastEvents.html">Past Events</a>
                  <a class="text-center py-2 me-lg-4 nav-link links" href="./contact.html">Contact</a>
                  <a class="text-center py-2 me-lg-4 nav-link links" href="./stats.html">Stats</a>
            </div>
          </div>
        </nav>
      
              <main class="main-details row container-fluid m-0 mt-4 px-4">
                <template v-if="eventos">
                    <div class="row  my-4 justify-content-between align-items-md-center">
                        <div class="col-md-6">
                            <img v-bind:src="eventos.image" class="img-fluid rounded-2 p-3" v-bind:alt="eventos.name">
                        </div>
                        <div class="col-md-6">
                            <div class="tarjeta-details py-3">
                                <h5 class="card-title text-center">{{eventos.name}}</h5>
                                <p class="text-center">Date: 2022-10-15</p>
                                <p class="card-text text-center">Category: {{eventos.category}}</p>
                                <p class="card-text text-center">Place: {{eventos.place}}</p>
                                <p class="card-text text-center">Capacity: {{eventos.capacity}}</p>
                                <p class="card-text text-center">{{estimateOrAssistance}}</p>
                                <p class="card-text text-center">{{eventos.description}}</p>
                                <p class="card-text text-center">Price: <span class="price-color">USD {{eventos.price}}</span></p>
                            </div>
                        </div>
                    </div>
                </template>
              </main>
             
              <footer class="d-flex justify-content-evenly align-items-center">
                  <div class="w-50 ">
                      <i class="p-2 ms-md-3 rounded-circle text-bg-dark fa-brands fa-instagram"></i>
                      <i class="p-2 ms-md-3 rounded-circle text-bg-dark fa-brands fa-facebook"></i>
                      <i class="p-2 ms-md-3 rounded-circle text-bg-dark fa-brands fa-whatsapp"></i>
                  </div>
                  <p class="m-0">COHORT 41</p>
              </footer>
    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../js/data.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>