
.main-contact:not(h1){
    height: 44rem;
}

.main-section-contact h1{
    background-color: #394662;
}

.footer-contact{
    margin-top: -3rem;
}

@media(min-width: 768px){
    .form-contact{
        height: 40rem;
        background-color: rgb(240, 228, 222);
        width: 60%;
    }
    .main-contact:not(h1){
        height: 50rem;
    }
}
