.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

table{
    width: 92%;
}

table, .th, .td{
    border: 2px solid #302e3a;
    border-collapse: collapse;
    font-size: 12px;
}

.th{
    text-align: center;
    width: 20%;
    height: 2rem;
}

.titulo-tabla{
    background-color: #4a7aa1;
    color: white;
    text-align: center;
}

.main-table{
    min-height:38rem;
}

@media(min-width: 1200px){
    table, .th, .td {
        font-size: 16px;
    }
}